@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

body {
  margin: 0;
  background: #89B6A5;
}

div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}

img {
  max-width: 60%;
  max-height: 75vh;
  border-radius: 1.5em;
  border-color: #625D66;
  border-width: 0.5em;
  border-style: solid;
  margin: 0.5em auto;
}

p {
  max-width: 60%;
  font-size: 1.8em;
  padding: 1.2em;
  border-radius: 1.5em;
  background: #4C3B4D;
  color: #FFFFFF;
  font-family: 'ZCOOL KuaiLe', sans-serif;
  margin: 0.5em auto;
}